<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python. 

**Objectives:**

* List popular languages for Data Science.
* List commonly used libraries in Data Science.
* Identify some open-source tools used in Data Science.
* Demonstrate the use of arithmetic expressions in Python.
* Convert minutes to hours using Python.

In [3]:
1. Python
2. R
3. SQL
4. Java

SyntaxError: invalid syntax (1497356497.py, line 1)

In [ ]:
1. Pandas
2. NumPy
3. Scikit-lear
4. Matplotlib & Seaborn

In [ ]:
| Data Science Tools |
|---|---|
| Jupyter Notebook |
| RStudio |
| Spyder |

In [ ]:
Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [ ]:
## Author

Juan J. Huertos